body {
    background-color: #f7f7f7;
    font-family: 'futura';
}

.App {
    max-width: 900px;
    margin: auto;
    color: #000;
    p {
        font-size: 30px;
        font-style: italic;
    }
}

.nav-container {

    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.brand {
    display: inline-block;
    width: 20%;
    img {
        width: 130px;
    }
}

.search-form {
    text-align: center;
    display: inline-block;
    width: 60%;
}

.input-box {
    width: 400px !important;
}

#search-btn {
    margin-left: 5px;
}

.auth {
    display: inline-block;
    width: 20%;
    text-align: right;
}

.login, .logout {
    display: inline-block;
}

.logout {
    margin-left: 10px;
    span {
        background-color: rgba(57, 147, 221, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        &:hover {
            cursor: pointer;
        }
    }
}

.sub-menu {
    width: 100%;
    display: flex;
    margin: auto;
    font-size: 12px;
    background-color: #fff;
    // height: 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.sub-menu-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    width: 20%;
    border-right: 1px solid rgba(0,0,0,.1);
}

.sub-menu-right {
    // display: inline-block;
    // margin-left: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .category {
        margin: 0 10px;
        // margin-left: 80px;
        // display: inline-block;
    }
}

.listings {
    // border: 1px solid rgba(0,0,0,.1);
    // border-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    background-color: #F4F6F7;
    padding: 10px 10px;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.listing-item {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    height: 400px;
    width: 272px;

    margin: 10px 10px;
    background-color: #fff;
    .description {
        height: 55px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .end-date {
        display: inline-block;
        width: 50%;
        height: 30px;
        padding: 5px;
    }
}

.listing-item:hover {
    border: 1px solid rgba(91,187,211,0.8);
    transition: all .2s;
}

.listing-img {
    padding: 15px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.1);
    img {
        box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
        width: 240px;
        height: 240px;
    }
    .current-bid {
        position: absolute;
        top: 15px;
        color: #fff;
        background-color: rgba(35,171,133,0.8);
        padding: 5px;
        // width: 0;
        // height: 0;
        // border-top: 50px solid red;
        // border-right: 50px solid transparent;
        border-bottom-right-radius: 5px;
    }
}

.listing-img:hover {
    border-bottom: 1px solid rgba(91,187,211,0.8);
    transition: all .2s;
}

.listing-content {
    .title {
        text-align: center;
        font-size: 12px;
        padding: 5px;
    }
    .description {
        padding: 5px;
        font-size: 10px;
    }
}

.login-wrapper {
    margin: 100px auto;
    max-width: 500px;
}

.login-greeting {
    text-align: center;
    margin-bottom: 30px;
}

.register-wrapper {
    margin: 100px auto;
    max-width: 500px;
}

.register-greeting {
    text-align: center;
    margin-bottom: 30px;
}

.register-link {
    text-align: right;
}

.create-listing-wrapper {
    margin: 100px auto;
    max-width: 500px;
}
