/* line 1, ../../compass/sass/styles.scss */
body {
  background-color: #f7f7f7;
  font-family: 'futura';
}

/* line 6, ../../compass/sass/styles.scss */
.App {
  max-width: 900px;
  margin: auto;
  color: #000;
}
/* line 10, ../../compass/sass/styles.scss */
.App p {
  font-size: 30px;
  font-style: italic;
}

/* line 16, ../../compass/sass/styles.scss */
.nav-container {
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 22, ../../compass/sass/styles.scss */
.brand {
  display: inline-block;
  width: 20%;
}
/* line 25, ../../compass/sass/styles.scss */
.brand img {
  width: 130px;
}

/* line 30, ../../compass/sass/styles.scss */
.search-form {
  text-align: center;
  display: inline-block;
  width: 60%;
}

/* line 36, ../../compass/sass/styles.scss */
.input-box {
  width: 400px !important;
}

/* line 40, ../../compass/sass/styles.scss */
#search-btn {
  margin-left: 5px;
}

/* line 44, ../../compass/sass/styles.scss */
.login {
  display: inline-block;
  width: 20%;
  text-align: right;
}

/* line 50, ../../compass/sass/styles.scss */
.sub-menu {
  width: 100%;
  display: flex;
  margin: auto;
  font-size: 12px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 60, ../../compass/sass/styles.scss */
.sub-menu-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  width: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 71, ../../compass/sass/styles.scss */
.sub-menu-right {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* line 79, ../../compass/sass/styles.scss */
.sub-menu-right .category {
  margin: 0 10px;
}

/* line 86, ../../compass/sass/styles.scss */
.listings {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  background-color: #F4F6F7;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

/* line 97, ../../compass/sass/styles.scss */
.listing-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 400px;
  width: 272px;
  margin: 10px 10px;
  background-color: #fff;
}
/* line 105, ../../compass/sass/styles.scss */
.listing-item .description {
  height: 55px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 110, ../../compass/sass/styles.scss */
.listing-item .end-date {
  display: inline-block;
  width: 50%;
  height: 30px;
  padding: 5px;
}

/* line 118, ../../compass/sass/styles.scss */
.listing-item:hover {
  border: 1px solid rgba(91, 187, 211, 0.8);
  transition: all .2s;
}

/* line 123, ../../compass/sass/styles.scss */
.listing-img {
  padding: 15px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 127, ../../compass/sass/styles.scss */
.listing-img img {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  width: 240px;
  height: 240px;
}
/* line 132, ../../compass/sass/styles.scss */
.listing-img .current-bid {
  position: absolute;
  top: 15px;
  color: #fff;
  background-color: rgba(35, 171, 133, 0.8);
  padding: 5px;
  border-bottom-right-radius: 5px;
}

/* line 146, ../../compass/sass/styles.scss */
.listing-img:hover {
  border-bottom: 1px solid rgba(91, 187, 211, 0.8);
  transition: all .2s;
}

/* line 152, ../../compass/sass/styles.scss */
.listing-content .title {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
/* line 157, ../../compass/sass/styles.scss */
.listing-content .description {
  padding: 5px;
  font-size: 10px;
}

/* line 163, ../../compass/sass/styles.scss */
.login-wrapper {
  margin: 100px auto;
  max-width: 500px;
}

/* line 168, ../../compass/sass/styles.scss */
.login-greeting {
  text-align: center;
  margin-bottom: 30px;
}

/* line 173, ../../compass/sass/styles.scss */
.register-wrapper {
  margin: 100px auto;
  max-width: 500px;
}

/* line 178, ../../compass/sass/styles.scss */
.register-greeting {
  text-align: center;
  margin-bottom: 30px;
}

/* line 183, ../../compass/sass/styles.scss */
.register-link {
  text-align: right;
}

/* line 187, ../../compass/sass/styles.scss */
.create-listing-wrapper {
  margin: 100px auto;
  max-width: 500px;
}
